[data-md-color-primary="indigo"] .md-header {
    background-color: #a3cc44;
}

h1 {
  color: #97ce17 !important;
  font-weight: bold;
}

h2 {
  color: #97ce17;
  font-weight: bold;
}

h3 {
  color: #97ce17;
  font-weight: bold;
}

footer{
  background-image: url("../images/bg-down.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFF;
}

.md-footer-nav {
  background-color: transparent;
}

.md-footer-meta{
  background-color: transparent;
}

.justificar{
  text-align: justify !important;
}

main{
  background-repeat: no-repeat;
  background-position: top;
  background-color: #FFF;
}

.md-footer-nav__link {
    padding-top: 2.8rem;
    padding-bottom: 0.8rem;
    transition: opacity 0.25s;
}

a {
    color: #333333;
    text-decoration: none;
}

[data-md-color-primary="indigo"] .md-nav__link:active, [data-md-color-primary="indigo"] .md-nav__link--active {
    color: #97ce17;
}

.md-footer-copyright__highlight {
    color: rgba(0, 0, 0, 0.7);
}

html .md-footer-meta.md-typeset a {
   color: rgba(0, 0, 0, 0.7);
}

.md-footer-copyright {
    margin: 0 1.2rem;
    padding: 0.8rem 0;
    color: rgba(0, 0, 0, 1.0);
    font-size: 1.28rem;
}

.md-footer-nav__direction {
    position: absolute;
    right: 0;
    left: 0;
    margin-top: -2rem;
    padding: 0 2rem;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
}

body {

text-align: justify;
}

[data-md-color-primary="indigo"] .md-nav__item--nested > .md-nav__link {
    color: #97ce17;
}

@media only screen and (max-width: 76.1875em) {
html [data-md-color-primary="citsmart"] .md-nav--primary .md-nav__title--site {
  background-color: #333333; } }
